# Extensions
**/*.log
**/*.gz
**/*.DS_Store
**/*.jar
**/*.mrpack
**/*.code-workspace
**/*.zip

# Dev
.vs/
.vscode/
.idea/
kubejs/jsconfig.json
package.g.props
node_modules/
.env
.zed/

# Minecraft
local/
saves/
mods/
logs/
crash-reports/
backups/
resourcepacks/
shaderpacks/
server-resource-packs/
screenshots/
downloads/
modernfix/
fancymenu_data/
ESM/
generated/
.pg-native/

icon.png
options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json
command_history.txt

# Pakku
build/
!.pakku/
!pakku.jar
!pakku.json
!pakku-lock.json
!.pakku/client-overrides/*

# ProbeJS
/kubejs/probe/
/kubejs/config/probejs.json
/kubejs/config/probe-settings.json

# configs, add exceptions below
/config/*
!/config/global_packs.toml
!/config/sodium-mixins.properties
!/config/naturaltemperature-common.toml
!/config/tectonic.json
!/config/biomespawnpoint
